
		/* Agrega estilos para resaltar los campos incompletos */
		.campo-incompleto {
			border: 5px solid red;
			background-color: #ffdddd;
		}

		/* Estilo para el mensaje de error */
		#error-message {
			color: red;
			font-weight: bold;
			margin-bottom: 10px;

		}



		/*form:invalid input:required {
			background-color: #ffdddd;
		}*/

		.campo-modificado {
			/*ESTILO PARA LA EDICION DE PADECIMIENTOS*/
			background-color: green;
			color: white;
		}

		.container {
			display: grid;
			grid-template-columns: repeat(2, 50%);
			grid-template-rows: repeat(3, 1fr);
			/* "1fr" representa una fracción del espacio disponible */
			grid-gap: 6px 10px;
		}

		fieldset {
			border: 1px solid #ddd;
			border-radius: 2vw;
			background: linear-gradient(to right, #e4e5dc, #45bac9db);
			padding: 1vw;
			box-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.1);
			margin-bottom: 2vw;
		}

		fieldset fieldset {
			background-color: transparent;
		}

		fieldset fieldset legend {
			font-size: 20px;
			text-transform: uppercase;
			padding-left: 10%;
			padding-right: 10%;
			background-color: transparent;
		}

		legend {
			font-weight: bold;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 1vw;
			background: linear-gradient(to right, #e4e5dc, #45bac9db);
			border: solid 1px #45bac9db;
			border-radius: 10px;
		}

		label {
			font-size: 1.4vw;
			color: #444;
			margin: 10px;
		}

		input[type="text"],
		input[type="date"],
		select {
			width: 45%;
			padding: 1vw;
			font-size: 1vw;
			color: #444;
			margin-bottom: 2vw;
			border: none;
			border-bottom: 0.1vw solid #444;
			outline: none;
			border-radius: 15px;
			margin: 10px;
		}

		button {
			border: none;
			outline: none;
			color: #fff;
			font-size: 1.6vw;
			background: linear-gradient(to right, #4a90e2, #63b8ff);
			cursor: pointer;
			padding: 10px;
			border-radius: 2vw;
			width: 10%;
			margin: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			height: auto;
			min-height: 40px;
		}

		.boton {
			border: none;
			outline: none;
			height: 4vw;
			color: #fff;
			font-size: 1.6vw;
			background: linear-gradient(to right, #4a90e2, #63b8ff);
			cursor: pointer;
			border-radius: 2vw;
			width: 25%;
			margin-top: 2vw;
			text-decoration: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			height: auto;
			min-height: 40px;
		}

		.claseboton {
			border: none;
			outline: none;
			background: linear-gradient(to right, #4a90e2, #63b8ff);
			border-radius: 30px;
			width: auto;
			text-decoration: none;
			height: 40px;
			color: #fff;
			font-size: 16px;
			padding-top: 2.5%;
			padding-bottom: 2%;
			padding-left: 5%;
			padding-right: 5%;
			font-size: 1.6vw;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			height: auto;
			min-height: 40px;
			align-items: center;
		}

		.claseboton:hover {
			background: linear-gradient(to right, #63b8ff, #4a90e2);
		}

		input[type="submit"] {
			border: none;
			outline: none;
			height: 4vw;
			color: #fff;
			font-size: 1.6vw;
			background: linear-gradient(to right, #4a90e2, #63b8ff);
			cursor: pointer;
			border-radius: 2vw;
			width: 25%;
			margin-top: 2vw;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			height: auto;
			min-height: 40px;
		}

		input[type="submit"]:hover,
		button:hover {
			background: linear-gradient(to right, #63b8ff, #4a90e2);
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 1vw;
			text-align: left;
		}

		th {
			background-color: #f2f2f2;
		}

		td button {
			margin-right: 0.5vw;
			width: 65px;
			font-size: 12px;
		}

		@media (max-width: 800px) {
			.container {
				grid-template-columns: 100%;
				grid-gap: 20px;
			}
		}

		.error-banner {
			display: none;
			position: fixed;
			/* Hacer el banner de error fijo en la pantalla */
			top: 0;
			left: 0;
			width: 100%;
			background-color: #ff0000;
			color: #fff;
			padding: 10px;
			font-size: 16px;
			text-align: center;
			white-space: nowrap;
		}

		.error-banner p {
			display: inline;
			/* Hace que los mensajes de error aparezcan en línea */
			margin: 0;
			/* Elimina el margen entre los mensajes */
			padding-right: 10px;
			/* Agrega un espacio entre los mensajes (opcional) */
		}
			
		
		/* Estilos específicos para el modal personalizado */
			.custom-modal {
				display: none;
				position: fixed;
				z-index: 9999;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgba(0, 0, 0, 0.7);
			}
	
			.custom-modal-content {
				width: 80%;
				height: 80%;
				margin: auto;
				background: linear-gradient(to right, #e4e5dc, #45bac9db);
				padding: 20px;
				border-radius: 20PX;
			}
	
			.custom-close {
				color: #aaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}
	
			.custom-close:hover,
			.custom-close:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}
	
			/* Estilos adicionales específicos para el iframe dentro del modal */
			.custom-iframe {
				width: 100%;
				height: 100%;
				border: none;
			}
			.boton_bus {
				border: none;
				outline: none;
				height: 4vw;
				color: #fff;
				font-size: 1.6vw;
				background: linear-gradient(to right, #4a90e2, #63b8ff);
				cursor: pointer;
				border-radius: 60px;
				width: 60px;
				margin-top: 2vw;
				text-decoration: none;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				height: auto;
	
	
			}
	
			.boton_bus:active {
				background-color: #5bc0f7;
				scale: 1.5;
				cursor: pointer;
	
				transition: background-color 0.8s ease, box-shadow 0.8s ease, color 0.8s ease, font-weight 0.8s ease;
				/* Animaciones de 0.5 segundos */
				box-shadow: 0 0 5px rgba(91, 192, 247, 0.8), 0 0 10px red;
				/* Sombra inicial y sombra roja */
				font-size: 25px;
				color: white;
				/* Cambiar el color del texto */
				font-weight: bold;
				/* Cambiar a negritas */
				font-family: "Copperplate", Fantasy;
			}